@layer base {
  html, body {
    font-family: theme('fontFamily.sans')
  }
  a {
    @apply cursor-pointer;
  }
  button {
    @apply outline-none;
  }
  .logo {
    @apply font-logo font-normal;
    font-size: 2.25rem;
    color: #F8B52E;
  }
  .h1 {
    @apply text-5xl font-bold;
  }
  .h2 {
    @apply text-4xl font-bold;
  }
  .h3 {
    @apply text-3xl font-bold;
  }
  .h4 {
    @apply text-2xl font-bold;
  }
  .h5 {
    @apply text-xl font-bold;
  }
  .h6 {
    @apply text-lg font-bold;
  }
  .img-fluid {
    @apply max-w-full h-auto;
  }
}