@responsive {
  .row {
    @apply flex flex-wrap -mx-3.75
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    @apply relative w-full px-3.75;
  }
  .col {
    @apply flex-grow flex-shrink-0 max-w-full;
  }
  .col-1 {
    flex: 0 0 calc((1/12) * 100%);
    max-width: calc((1/12) * 100%);
  }
  .col-2 {
    flex: 0 0 calc((2/12) * 100%);
    max-width: calc((2/12) * 100%);
  }
  .col-3 {
    flex: 0 0 calc((3/12) * 100%);
    max-width: calc((3/12) * 100%);
  }
  .col-4 {
    flex: 0 0 calc((4/12) * 100%);
    max-width: calc((4/12) * 100%);
  }
  .col-5 {
    flex: 0 0 calc((5/12) * 100%);
    max-width: calc((5/12) * 100%);
  }
  .col-6 {
    flex: 0 0 calc((6/12) * 100%);
    max-width: calc((6/12) * 100%);
  }
  .col-7 {
    flex: 0 0 calc((7/12) * 100%);
    max-width: calc((7/12) * 100%);
  }
  .col-8 {
    flex: 0 0 calc((8/12) * 100%);
    max-width: calc((8/12) * 100%);
  }
  .col-9 {
    flex: 0 0 calc((9/12) * 100%);
    max-width: calc((9/12) * 100%);
  }
  .col-10 {
    flex: 0 0 calc((10/12) * 100%);
    max-width: calc((10/12) * 100%);
  }
  .col-11 {
    flex: 0 0 calc((11/12) * 100%);
    max-width: calc((11/12) * 100%);
  }
  .col-12 {
    flex: 0 0 calc((12/12) * 100%);
    max-width: calc((12/12) * 100%);
  }
}