@layer components {
  .btn {
    @apply border border-transparent border-solid p-3 rounded transition focus:outline-none cursor-pointer;
  }
  .btn-primary {
    @apply bg-orange-400 border-orange-500 hover:bg-primary active:bg-primary hover:border-primary text-white;
  }
  .btn-outline-primary {
    @apply border-orange-500 bg-white hover:bg-orange-400 hover:text-white active:bg-gray-400 text-orange-400;
  }
}