@layer components {
  .form-row {
    @apply flex rounded border border-gray-400;
    .form-control {
      @apply flex-auto border-0;
      width: 1%;
    }
    .form-control:not(:first-child) {
      @apply rounded-l-none;
    }
    .form-control:not(:last-child) {
      @apply rounded-r-none;
    }
    .btn:not(:first-child) {
      @apply rounded-l-none;
    }
    .btn:not(:last-child) {
      @apply rounded-r-none;
    }
  }
  .form-group {
    label {
      @apply inline-block mb-1;
    }
  }
}