@layer components {
  .navbar{
    @apply flex items-center relative;
    &__brand {
      @apply inline-block py-1;
    }
    &__toggler {
      @apply inline-block py-1;
      @screen sm {
        @apply hidden;
      }
    }
    &__collapse {
      @apply flex-grow transition-all duration-300 delay-75 max-h-0 overflow-hidden;
      flex-basis: 100%;
      &--show {
        max-height: 99em;
      }
      @screen sm {
        flex-basis: auto;
        max-height: initial;
      }
    }
    &__list {
      @apply block;
      @screen sm {
        @apply flex items-center;
      }
    }
    &__link {
      @apply p-3 block text-center hover:bg-gray-200;
      @screen sm {
        @apply rounded;
      }
    }
  }
  .navbar__expand {
    .container {
      @apply px-0;
      @screen md {
        padding: 0 39px;
      }
      @screen lg {
        padding: 0 15px;
      }
    }
  }
  .sticky-top {
    @apply sticky top-0;
  }
}