@tailwind base;
@tailwind components;
@tailwind utilities;

@import './style/fonts.css';
@import './style/base.css';
@import './style/grid.css';

@import './style/components/components.css';

@import './style/utilities/text.css';
