@tailwind base;
@tailwind components;
@tailwind utilities;

@import './style/fonts.css';
@import './style/base.css';

@import './style/components/navbar.css';
@import './style/components/btn.css';
@import './style/components/btn-groups.css';

@import './style/utilities/text.css';
